
body{
}

.gradient {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #836997;
}

h1{display: inline-block;
  position: relative;
  top: 250px;
  left: 36%;
  text-align: center;
}
span{
  font-family: helvetica;
  font-size: 120px;
  text-align: center;
  color: white;
  text-shadow: -6px -5px 6px rgba(0, 0, 0, 1);
}

.hours::after{
  content: ":";
}


.minutes::after{
  content: ":";
}

.timeBar{
  position: relative;
  top: 410px;
  height: 10px;
  background-color: white;
  text-align: center;
  width: 50%;
}
